* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.app_container {
  width: 90%;
  margin: auto;
  padding: 15px 0;
}

.header_section {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.border_none {
  border: none;
  outline: none;
}

.innerspace {
  padding: 15px 15px;
  border-bottom: 2px solid #ececec;
}

.app_container input::placeholder {
  font-weight: 400;
  font-size: 15px;
  font-style: italic;
  color: #d2d2d2;
}

.app_container article {
  display: flex;
  justify-content: space-between;
}

.todo_form {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 2px solid #ececec;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  border-bottom: 2px solid #ececec;
}

.todo_item:hover {
  background-color: #ececec;
}

.todo_item figure {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ececec;
}

.active {
  display: block;
}

.hide {
  display: none;
}

img {
  width: 12.3px;
  height: 12.3px;
}

.rule_line_through {
  text-decoration: line-through #04aa6d solid 2px;
}

.todo_form fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_item span {
  transform: rotate(90deg);
}

.todo_item fieldset {
  display: flex;
  align-items: center;
  gap: 15px;
}

.font1 {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #545862;
}

.font2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  color: #545862;
}

.font3 {
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  color: #000;
}

.font4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 50px;
  color: #000;
}

.font4:hover {
  text-decoration: underline;
}

.todo_footer {
  text-align: center;
  background-color: #f6f6f6;
}
